/* =====body===== */
body {
    background-color: #5E82B7;
}
/* =====body END===== */



/* ================ */
/* ====================== Halaman Login ================ */

/* ====logo asup==== */
.logo-asup {
    font-size: 47px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
}
.container .row .col-2 {
    background-color: #122C524F;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}
/* ====logo asup END==== */



/* ====Form login==== */
.form-login {
    background-color: #122C52;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-login .mb-3 .form-label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form-login input {
    border-radius: 5px;
    color: white;
}

.form-login input:focus {
    color: white;
    border: 1px solid #fff;
    box-shadow: none;
}

.d-grid button {
    color: #122C52;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
}

.d-grid button:focus, .d-grid button:active:focus, .d-grid button.active:focus{
    outline:none;
    box-shadow:none;
}
/* ====Form login END==== */



/* ====Footer login==== */
.footer-login {
    margin-top: 150px;
    z-index: -99;
    padding: 20px;
    width: 100%;
    text-align: center;
}

@media (min-width: 458px) {
    .footer-login {
        margin-top: 96px;
        z-index: -99;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
}
/* ====Footer END==== */

/* ====================== Halaman Login END ================ */
/* ================ */ 



/* ================ */ 
/* ====================== Halaman Home ================ */

/* ====header==== */
.halo-client {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.barcode-icon img {
    width: 180px;
}

.orientasi {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
/* ====header end==== */


/* ====fitur==== */
.absen {
    background-color: #122C52 !important;
}

.riwayat {
    background-color: #E35200 !important;
}

.absen, .riwayat {
    font-family: 'Public Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.absen:active, .riwayat:active {
    box-shadow: none !important;
}

.absen > img, .riwayat > img {
    width: 27px;
}
/* ====fitur END==== */


/* ====tombol keluar==== */
.tombol-keluar {
    background-color: #4A6083;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.tombol-keluar:hover {
    background-color: #3f506d;
    border: 1px solid #3f506d;
}
/* ====tombol keluar END==== */


/* ====Footer==== */
.footer-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
/* ====Footer END==== */
/* ====================== Halaman Home END ================ */
/* ================ */ 



/* ================ */ 
/* ====================== Halaman scaner ================ */

.header-scanner p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

.scanner-camera .col-7 {
    height: 200px;
    background-color: #fff;
}

/* ====================== Halaman scaner END ================ */
/* ================ */ 


/* ================ */ 
/* ====================== Halaman code result ================ */

.code-result {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FAE212;
}

.data-siswa {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #ffff;
}

.tombol-hadir {
    background-color: #122C52;
    
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.tombol-hadir:hover {
    background-color: #0f2647;
    border: 1px solid #0f2647;
}

/* ====================== Halaman code result END ================ */
/* ================ */ 
